#about {
  display: inline-block;
  margin-right: 3em;
}

#avatar {
  max-width: 18em;
}

#social a {
  font-size: 1.5em;
  margin: 0.6em;
}

#projects {
  display: inline-block;
  text-align: initial;
}

#skills {
  padding: 0.5em;
  padding-top: 2em;
  margin-top: 5em;
}

#toggleTheme {
  margin-right: 2em;
  float: right;
  font-size: 0.8em;
}

#hamburger, #hamburger + label {
  display: none;
}

/* vim: set fen: */
