@media only screen and (max-width: 700px) {

  body {
    font-size: 1.3em;
  }

#social nobr:not(:nth-of-type(1)) * {
  margin-top: 0.5em;
}

  #skills {
    margin-top: 0 !important;
  }


  nav {
    text-align: left !important;
  }

  nav a {
    display: none;
    margin-right: 2em;
  }

  nav #hamburger + label {
    font-size: 0.8em;
    display: initial;
    color: var(--color2);
  }

  nav #hamburger:checked ~ a {
    display: flex;
  }

  nav #hamburger:checked ~ a:nth-of-type(1) {
    margin-top: 1em;
  }

}
