body {
  background-color: #151518;
  color: #ccc;
  font-family: Palatino, Times, serif;
  font-size: 20px;
}

main {
  margin: 2em auto 10em auto;
  max-width: 90ch;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline dotted 1px #666;
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: underline solid 2px;
}

nav {
  font-size: 1.2em;
  margin-top: 1em;
  text-align: center;
}

nav a {
  margin: 0.5em;
}

nav a[data-current] {
  text-decoration-style: solid;
}

#avatar {
  max-width: 18em;
}

#social > div {
  margin-bottom: 1em;
}

#social > div > a {
  font-size: 1.2em;
  margin: 0.5em;
}
