body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: Courier New;
  text-align: center;
}

.nobr {
  white-space: nowrap;
}

#aboutMe {
  margin-bottom: 2em;
}

#myWorks > div {
  text-align: initial;
}

#myWorks > h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 2em;
  text-decoration: underline;
}

#aboutMe > a,
.links > a,
.menu > a
{
  color: red;
  margin: 5px;
}

.menu {
  display: inline-table;
  padding: 10px;
  white-space: nowrap;
}

.menu > a {
  display: block;
  text-decoration: none;
}

.menu > h1 {
  color: white;
  font-size: 1.2em;
  margin-bottom: 1em;
}

/* Make site mobile scrolling-friendly */
@media only screen and (max-device-width: 700px) {
  #myWorks > div {
    text-align: center;
  }

  div.menu {
    display: initial;
  }

  /* Every word in new line */
  h1#myName {
    word-spacing: 100vw;
  }
}

/* Not for mobile */
@media not (max-width: 700px) {
  body {
    background: url("background.jpg");
    background-size: cover; /* This property has to be after "background" */
  }
}
