:root {
  --bg: #000;
  --color: #ddd;
  --a-color: #9d959d;
}


body {
  background-color: var(--bg);
  color: var(--color);
  font-family: monospace;
  font-size: 1.5em;
  margin: 0;
}

main {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  text-align: center;
}

article {
  max-width: 80ch;
  text-align: left;
  margin: auto;
}


a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  color: var(--color);
}


nav {
  background-color: var(--bg);
  font-size: 1.2em;
  padding: 0.5em 0;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 10;
}

nav a {
  margin: 0.5em;
}

nav a[data-current] {
  color: var(--color);
}


#avatar {
  background-color: #fff;
  max-width: 18em;
}

#social {
  display: inline-block;
}

#social > div {
  margin-bottom: 1em;
}

#social .grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
}

#social a {
  font-size: 1.5em;
  margin: 0.6em;
}


#social a[title="AniList"] img {
  filter: grayscale(1) brightness(0.7);
  width: 1.7em;
}

#social a[title="AniList"] img:hover {
  filter: grayscale(1);
}


#faq {
  max-width: 80ch;
  text-align: left;
}

#faq details {
  margin-top: 1em;
}

#faq summary {
  cursor: pointer;
  max-width: max-content;
}

#faq details div {
  margin-left: 2em;
  margin-top: 1em;
}


@media only screen and (max-width: 700px) {
  body {
    font-size: 1.3em;
  }

  nav {
    position: initial;
  }

  #faq {
    margin: 0 10px;
  }
}
